html
  head
    link(rel: 'stylesheet', href: '/styles.css', type: 'text/css')
    script(type:"text/javascript", src:"/javascripts/thirdparty/jquery/jquery-1.4.2.min.js")
    script(type:"text/javascript", src:"/javascripts/thirdparty/jquery/ui/ui.core.js")
    script(type:"text/javascript", src:"/javascripts/client.js")
    title= title
  body
    #wrapper
      != body
